notebook==7.3.2
jupyterlab-language-pack-zh-CN==4.3.post2
jupyter_scheduler==2.10.0
jupyterlab-lsp==5.1.0
python-lsp-server[all]==1.12.2
numpy==1.26.4
pandas==2.2.3
pymysql==1.1.1
duckdb==1.2.1
pyecharts==2.0.8
akshare==1.16.81
streamlit==1.27.0
streamlit_jupyter==0.2.1
Werkzeug==0.11.15
wechatsogou==4.5.4
html2text==2024.2.26
